---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
<!--    <h1> {{page.full_title}} </h1>-->
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
        {% if site.data.contact.countdown==true %}
          {% include countdown.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="intro2">
  <div class="container">
  {% for para in site.data.about_workshop.about limit:2%}
  <p align>{{para}}</p>
  {% endfor %}
  <div class="call-box-bottom">
    <a href="/call-for-papers" class="button">more</a>
  </div>
  </div>
</div>

{% if site.data.news.news.size > 0 %}
<div class="intro2">
  <div class="container">
    <h1 class="title pd-2" id="news">News</h1>
    {% for item in site.data.news.news limit:5%}
      <p align> {{item}} </p>
    {% endfor %}
    {% if site.data.news.news.size > 5 %}
    <div class="call-box-bottom pt-3">
      <a href="/news" class="button">more news</a>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

<!--<div class="strip">-->
<!--  <div class="container pt-6 pb-6 pb-md-10">-->
<!--    <div class="row justify-content-start">-->
<!--      {% for service in site.services %}-->
<!--      <div class="col-12 col-md-4 mb-1">-->
<!--        <div class="service service-summary">-->
<!--          <div class="service-content">-->
<!--            <h2 class="service-title">-->
<!--              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>-->
<!--            </h2>-->
<!--            <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--    <div class="row justify-content-center">-->
<!--      <div class="col-auto">-->
<!--        <a class="button button-primary" href="{{ "services" | relative_url }}">View All Services</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--{% if site.data.features %}-->
<!--<div class="strip strip-grey">-->
<!--  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">-->
<!--    <h1>Important Dates</h1>-->
<!--    <div class="row justify-content-center">-->
<!--      {% for feature in site.data.features %}-->
<!--      <div class="col-12 col-md-6 col-lg-4 mb-2">-->
<!--        <div class="feature">-->
<!--          {% if feature.image %}-->
<!--          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>-->
<!--          {% endif %}-->
<!--          <h2 class="feature-title">{{ feature.title }}</h2>-->
<!--          <div class="feature-content">{{ feature.description }}</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--{% endif %}-->

<div class="container pb-1 pt-1 pt-md-1 pb-md-1 strip strip-grey">
<!--    <div class="row justify-content-start">-->
<!--        <div class="col-12 col-md-8">-->
<!--            <div class="service service-single">-->
                <h1 class="title" id="important-dates">Important Dates</h1>
                <div class="content mt-4">
                  <table>
                  <thead>
                    <tr>
                      <th>Event</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for dates in site.data.imp_dates %}
                    <tr>
                      <td>{{ dates.title }}</td>
                      <td>{{ dates.date }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                </div>
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<div class="intro2">
  <div class="container">
    <h1 class="title" id="contact">Contact</h1>
    <div class="contact-details">
    If you have a query relating to ISGIE 2022 workshop, please contact us by e-mail at <a href="mailto: {{site.data.contact.email}}">{{site.data.contact.email}}</a>.
    </div>
  </div>
</div>
