---
layout: default
bodyClass: "page-basic"
---

<div class="intro2">
<div class="container pb-1 pt-2 pt-md-2 pb-md-2">
    <div class="service service-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">{{content}}</div>
    </div>
</div>
</div>

<div class="intro2">
<div class="container pb-1 pt-1 pt-md-1 pb-md-1 strip strip-grey">
    <div class="content mt-1">
      <table>
      <thead>
        <tr>
            <th>Time</th>
            <th>Session</th>
            <th>Speaker</th>
        </tr>
      </thead>
      <tbody>
      {% for dates in site.data.program %}
        <tr>
            <td>{{ dates.time }}</td>
            <td>{{ dates.session }}</td>
            <td>{{ dates.speaker }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
</div>
</div>